.lobby-container {
  display: flex;
  flex-direction: column;
  line-height: 45px;
}

.lobby-container > nav {
  height: 50px;
  background-color: #00355b;
  color: white;
  text-align: center;
  font-size: 35px;
}

.lobby-main {
  flex: 1 1 auto;
  display: flex;
  gap: 7px;
  padding: 4px;
  height: 100vh;
}

.lobby-main > div {
  margin: 0.3em;
}

/*User Panel*/
.lobby-main > div:nth-child(1) {
  border: 1px solid #00355b;
  flex: 1 1 23%;
  padding: 1em;
}

.event-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*Event Preview*/
.lobby-main > div:nth-child(2) {
  flex: 1 1 70%;
}

.preview-container {
  padding: 0.3em auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
}

.preview {
  border: 1px solid rgb(139, 83, 212);
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 3%;
}

.preview:hover {
  transform: scale(1.01);
  border: 2px solid yellow;
}

.event-title {
  font-size: 1rem;
  margin: 0;
  background-color: rgb(118, 223, 223);
  width: 100%;
  align-self: center;
}
