h2 {
  color: navy;
  font-size: 30px;
  text-align: center;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.game-info {
  margin-left: 1.5em;
}

.square {
  background: #fff;
  border: 2px solid black;
  height: 2em;
  width: 2em;
  float: left;
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.status {
  margin-bottom: 0.8em;
}
